<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бабинова Софья. Расчетно-графическое задание</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <div class="zag">Услогоград. Поиск профессионалов своего дела!</div>
        {% block header %}{% endblock %}
    </header>

    <main>
        <div id="pusto"></div>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <div>Услогоград. Поиск профессионалов своего дела!</div>
        <div>Выполнила: Бабинова Софья Евгеньевна, ФБИ-14</div>
    </footer>
</body>
</html>