{% extends "base.html" %}

{% block header %}
    <div class="r1"><a href="/rgz1/" class="r11">Главная страница</a></div>
{% endblock %}

{% block main %}
    <div class="pusto"></div>
    <form method="POST">
        <h1 class="center1">Cоздание профиля</h1>
        <div class="center">
            <label>
                <input type="text" name="type_of_service" placeholder="Услуга" id="kn">Вид услуги
            </label>
        </div><br>

        <div class="center">
            <label>
                <input type="number" name="experience" placeholder="Стаж" id="kn">Стаж
            </label>
        </div><br>

        <div class="center">
            <label>
                <input type="number" name="price" placeholder="Цена" id="kn">Цена услуги
            </label>
        </div><br>

        <div class="center">
            <label>
                <input type="text" name="about_me" placeholder="О себе" id="kn">О себе (не обязательно)
            </label>
        </div><br>

        <input type="submit" value="Cоздать резюме" class="center2" id="kn"><br><br>

        <div class='errors'>{{ errors }}</div><br>
    </form>
{% endblock %} 