{% extends 'base.html' %}

{% block header %}
    <div class="r1"><a href="/rgz1/" class="r11">Главная страница</a></div>
{% endblock %}

{% block main %}
    <div class="pusto"></div>
    <h1 class="center1">Поиск сотрудников</h1>
    <form method="POST" action="/rgz1/search">
        <div class="center1">
            <label for="type_of_service">Вид услуги:</label>
            <input type="text" id="type_of_service" name="type_of_service" placeholder="Услуга"><br><br>

            <label for="experience_from">Стаж от:</label>
            <input type="number" id="experience_from" name="experience_from" placeholder="Стаж от"><br><br>

            <label for="experience_to">Стаж до:</label>
            <input type="number" id="experience_to" name="experience_to" placeholder="Стаж до"><br><br>

            <label for="price_from">Цена услуги от:</label>
            <input type="number" id="price_from" name="price_from" placeholder="Цена от"><br><br>

            <label for="price_to">Цена услуги до:</label>
            <input type="number" id="price_to" name="price_to" placeholder="Цена до"><br><br>
        </div>

        <button type="submit" class="center4" id="kn">Поиск</button><br><br>
    </form>

    
        {% if data.profiles %}
        <h1 class="center1">Результаты поиска</h1>
        {% for profile in data.profiles %}
            <div class="center2">
                <div>Имя: {{ data.users[loop.index0].username }}</div>
                <div>Вид услуги: {{ profile.type_of_service }}</div>
                <div>Стаж: {{ profile.experience }}</div>
                <div>Цена услуги: {{ profile.price }}</div><br><br>
            </div>
        {% endfor %}
        {% endif %}
    <div class="pusto2"></div>
{% endblock %}