{% extends "base.html" %}

{% block header %}
    <div class="r1"><a href="/rgz1/search" class="r11">Поиск сотрудников</a></div>
    <div class="r2"><a href="/rgz1/profile" class="r22">Профиль</a></div>
    <div class="r3"><a href="/rgz1/new_profile" class="r33">Создать профиль</a></div>
    <div class="r4"><a href="/rgz1/register" class="r44">Регистрация</a></div>
    <div class="r5"><a href="/rgz1/login" class="r55">Войти</a></div>
    <div class="r6"><a href="/rgz1/logout" class="r66">Выйти</a></div>
    <div class="r7">{{ username_form }}</div>
{% endblock %}

{% block main %}
    
{% endblock %}