{% extends "base.html" %}

{% block header %}
    <div id="l52"><a href="/rgz1/search" class="lb52">Поиск сотрудников</a></div>
    <div id="l53"><a href="/rgz1/profile" class="lb53">Профиль</a></div>
    <div id="l53"><a href="/rgz1/new_profile" class="lb53">Создать профиль</a></div>
    <div id="l55"><a href="/rgz1/register" class="lb55">Регистрация</a></div>
    <div id="l54"><a href="/rgz1/login" class="lb54">Войти</a></div>
    <div id="l57"><a href="/rgz1/logout" class="lb57">Выйти</a></div>
    <div id="l56">{{ username_form }}</div>
{% endblock %}

{% block main %}
    
{% endblock %}